body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Times, serif;
}
a {
  text-decoration: inherit;
  color: black;
}
:root {
  --main-blue:#13e5e0;
}
p {
  line-height: 24px;
}
a:hover {
  color: var(  --main-blue);;

}
/* <----------------------------   helpers   -------------------------------> */

/* <----------------------------   coming-soon-page   -------------------------------> */
.coming-soon-text {
  display: flex;
  justify-content: center;
}
.coming-soon-text h2 {
  color: black;
  margin:0px;
}
.cover-image {
  background-image: url("images/dog-walk.jpg");
  height: 600px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cover-image img {
  width: 100%;
}
.landing-text {
  background: rgba(0, 0, 0, 0.5);
  color: var(  --main-blue);
  padding: 20px;
  font-size: 40px;
  position: absolute;
  top: 200px;
  left: 100px;
  flex-direction: column;
  width: 50%;
  margin: 0px;

  align-items: center;
}
.number {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.landing-text h1 {
  margin: 0px;
}
.landing-text h2 {
  color: black;
  margin: 0px;
}
.landing-text h3 {
  margin: 0px;
  color: white;
  font-size: 25px;
}
  /* <----------------------------   end-coming-soon-page   -------------------------------> */


.border-bottom {
  border-bottom: 1px solid grey;
}
.underline {
  border-bottom: 1px solid  var(  --main-blue);
  width: 50%;
  margin: 20px auto;
}
.section-about {
  display: flex;
  margin: 20px auto;

}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;

}

.navbar-logo img {
  padding: 10px;
  height: 40px;
}
.navbar-links {
  display: flex;



}
.navbar-links ul {
  display: flex;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* margin: 0px;
  flex-direction: column; */

}
.navbar-links li {
  padding: 10px;

}
.hamburger {
  display: none;

}
.hamburger img {

}
.hide {
  display: flex;
}
.cover-image {
  background-image: url("images/dog-walk.jpg");
  height: 600px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cover-image img {
  width: 100%;
}
.cover-image-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.cover-image-text {
  color: var( --main-blue);
  font-size: 40px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  align-items: center;
  margin: auto 10%;
}
.cover-image-text h1 {
  margin: 0px;
}
.cover-image-text h3 {
  margin: 0px;
  color: white;
  font-size: 25px;
}
.cover-image-text p {

  font-size: 20px;
  color: white;
}
.button-blue {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  color: var(  --main-blue);
  border: solid 2px var(  --main-blue);
  border-radius: 50px;
  padding: 10px 20px;
  width: 50%;

}
.col-half {
  width: 50%;
}

  /* <----------------------------  about page  -------------------------------> */
.about-anchor {
  /* <--------------  anchor point at top of div  ------------------> */

}
.about-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  background-color:#13e5e0;


}
.about-image {

  display: flex;
  justify-content: ;
}
.about-image img {
  height: 100%;
  width: 100%;



}
.about-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bio  {

  margin:0px;
  padding:0px 40px;
  text-indent:20px;
}
.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  transition: all 0.3s ease;
  color: white;
  border: solid 2px white;
  border-radius: 50px;
  padding: 10px 20px;
}
.gallery-container {

  display: flex;
}
.gallery-image  {
  width: 250px;
  height: 250px;
  transition: .3s ease;
  position: relative;

}
.gallery-image img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.gallery-image:hover {
  opacity: 0.3;
}
.image-text-box:hover {
  opacity: 1;
}
.image-text-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-text {
  background-color: black;
  padding: 20px;
  color: white;
}
.map-image {
  background-image: url("map.png");
  height: 400px;
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.footer {
  background-color: darkgrey;
  padding: 30px 0px;
}
.footer-nav a, li {
  color: white;
}
.footer-nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  padding:0px;
  margin: 0 auto;
  width: 80%;
  font-size: 25px;
}
.footer-link {
  align-items: center;
  width: 33.33%;
  display: flex;
  justify-content: space-evenly;
}
.email {
  display: flex;
  justify-content: space-between;
}
.footer-link .phone {

  display: flex;
  justify-content: space-evenly;
}
.footer-text {
  text-align: center;
}
.fa .fa-mobile {
  padding: 10px;
}
/* <-------------------------------    services.html   ---------------------------> */
.service-anchor {
  /* <--------------  anchor point at top of div  ------------------> */
  padding-top: 50px;
  margin-top: -50px;
}
.service {
  border: black 1px solid;
  text-align: center;
  margin: 10px;
  width: 33.33%;
  margin-bottom: 30px;

}
.service-cover-image {
  background-image: url("small-dogs.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.service-text p {
  text-indent: 20px;
}
.service-types {
  display: flex;
}
.service-header {
  text-align: center;
  margin: 0px auto;
  width: 50%;
}
.service-image {
  /* width: 100%; */
}
.services-button {
  /* width: 50%;
  margin: 0px auto 20px auto;
  text-align: center; */
  margin: 0px auto 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;

}
.specialty_service_img {
  width: 300px;
}
.img-box img {
  height: 150px;
}
.services-button p {

}
.services-service {

  text-align: center;
  margin: 10px;
  width: 33.33%;
  padding: 50px;
  margin-bottom: 30px;

}
.services-service-types {
  display: flex;
  align-items: center;
}
.services-service-header {
  text-align: center;
  margin: 0px auto;
  width: 50%;
}
.services-service-image {
  width: 100%;
}
.services-services-button {
  width: 50%;
  margin: 0px auto 20px auto;

}
.services-services-button p {

}
/* <-------------------------------    end services.html   ---------------------------> */
/* <-------------------------------    hover   ---------------------------> */
.button-blue:hover {
  transition: all 0.3s ease;
  color: white;
  background-color: var( --main-blue);
  border: solid 2px white;
}
.button:hover {
  background-color: white;
  color: #13e5e0;
  border: solid 2px #13e5e0;
}
/* <-------------------------------    END: hover   ---------------------------> */
.steps {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid darkgrey;
  justify-content: ;
}
.icon {
  text-align: center;
  width: 50%;
}
.icon i {
  font-size: 100px;
}
.step-text {
  width: 50%;
}
.header {
  text-align: center;
}
.underline {

}
/* <-------------------------------    size key   --------------------------->
<-------------------------------    min-width   --------------------------->
 # Mobile
only screen and (min-width: 480px)

# Tablet
only screen and (min-width: 768px)

# Desktop
only screen and (min-width: 992px)

# Huge
only screen and (min-width: 1280px)
<-------------------------------    max-width   --------------------------->
# Phone
only screen and (max-width:320px)

# Tablet
only screen and (min-width:321px) and (max-width:768px)

# Desktop
only screen and (min-width:769px)*/
/* <-------------------------------    END: size key   ---------------------------> */

@media screen and (max-width: 700px) {
  h1 {
    font-size: 26px;
  }

  html {
    margin:0px;
  }
  p {
    line-height: auto;
  }
  .about-anchor {
    margin: 0px;
    padding: 0px;
  }
  .about-image {
    display: none;
  }
  .about-text {
    height: 100%;
  }
  .about-section {
    height: ;
  }
  .back-top-anchor {
    font-size: 15px;
  }
  .bio {
    font-size: 14px;
  }
  .cover-image {
    width: 100%;
    height: 400px;
  }
  .cover-image-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .col-half {
   width: 100%;
  }
  .cover-image-text {

  }
  .cover-image-text h1 {
    font-size: 35px;
    margin: 10px 0px;
  }
  .cover-image-text h3 {
    margin: 0px;
    color: white;
    font-size: 18px;
  }
  .cover-image-text p {
    font-size: 12px;
  }
  .email {
    display: flex;
    justify-content: center;
  }
  .hamburger {
    display: flex;
  }
  .hamburger img {
    height: 30px;
  }
  .img-box {
    width: %;
  }
  .image-text-box {
    display: none;
  }
  .map {
    width: 100;
    height: 200px;
  }
  .map-image {
    background-image: url(map.png);
    height: 100%;
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .navbar-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .service {
    border: black 1px solid;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    padding: 20px;

  }
  .service-types {
    flex-direction: column;
  }
  .specialty_service_img {
    width: 100%;
  }
  .footer-nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 0px;
    margin: 0px auto;

  }
  .navbar-links {
    display: ;
  }
  ----------------
  .navbar-links ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
  }
  -------------
  .none-icon_email {
    display: none;
  }
  .right-nav {
    display: flex;
    flex-direction: column;
  }
}
